details-infos
  notes-body
    notes-item(v-repeat="contact.notes")
      div.content
        span.author {{author}} 
        span.date {{date}}
        a.actions(href="#" v-on="click: deleteNote($event, this)")
          i.fa.fa-fw.fa-times
        span.edit
        p {{content}}