details-notes
  notes-body(v-if="!focus")
    notes-item(v-repeat="contact.notes")
      a(href="{{$root.path('contacts:showNote', contact.id, id)}}" v-on="click: showNote($event, this)")
        span.link
      div.content
        span.author {{author}} 
        span.date {{date}}
        p {{content}}
  notes-body(v-if="focus")
    a.back(href="{{url}}" v-on="click: prevFunc($event)")
      i.fa.fa-fw.fa-arrow-left
    notes-item
      div.edit
        span.author {{note.author}} 
        span.date {{note.date}}
        textarea(v-model="note.content") {{note.content}}
  button(v-on="click: updateNote($event)" v-if="focus") Update
  button(v-on="click: deleteNote($event)" v-if="focus") Delete
