contact-details
  tab-menu(id="{{id}}" tab="{{tab}}")
  component(is="{{view}}" contact="{{contact}}" id="{{id}}")

  //- details-tags
  //-   tag-list
  //-     list-item NPA
  //- details-notes
  //-   note-list
  //-     list-item This is a note
