contact-details
  tab-menu
    a(href="{{$root.path('contacts:showDetails', id)}}" v-on="click: onClick($event, 'contacts:showDetails')") Infos
    a(href="{{$root.path('contacts:showNotes', id)}}" v-on="click: onClick($event, 'contacts:showNotes')") Notes
    a(href="{{$root.path('contacts:showTags', id)}}" v-on="click: onClick($event, 'contacts:showTags')") Tags
  component(is="{{view}}" contact="{{contact}}")

  //- details-tags
  //-   tag-list
  //-     list-item NPA
  //- details-notes
  //-   note-list
  //-     list-item This is a note
