contact-tag
  header
    span.status
      svg(viewBox="0 0 100 100")
        circle(stroke-width="5", style="fill-opacity: 0; stroke-dashoffset: 2;", cx="50", cy="50", r="22", stroke="#A3E5CF")
    span.name {{surname}} {{firstname}}
    a(href="#")
      span.profil Profil
        span.arrow
    a(href="#")
      span.echange Echange
    hr
  tag-container(v-repeat="tags")