contact-tag
  header
    span.status
      svg(viewBox="0 0 100 100")
        circle(stroke-width="5", style="fill-opacity: 0; stroke-dashoffset: 2;", cx="50", cy="50", r="22", stroke="#A3E5CF")
    span.name {{surname}} {{firstname}}
    a(href="#")
      span.profil(v-on="click: displayProfile(this)") Profil
        span.arrow(v-if="!displaying_exchanges")
    a(href="#")
      span.echange(v-on="click: displayExchanges(this)") Echange
        span.arrow(v-if="displaying_exchanges")
    span.cancel(v-if="editMode") Annuler
    span.validate(v-if="editMode") Valider
    hr
  div.tags
    tag-more
      span.action(v-on="click: expandTags(this)")
        a(href"#")
          i . . .      
          i.fa.fa-angle-down
    tag-container(v-repeat="tags")
  div.add
    tag-add
      span.action(v-on="click: addTag(this)")
        a(href="#")
          i.add + Ajouter
    input(v-model="new_tag.content", type="text", placeholder="tag" v-if="addMode")
    button(v-on="click: createTag(new_tag)" v-if="addMode") Add