contact-details
  h3 {{contact.firstname}} {{contact.surname}}
  details-tags
    tag-list
      list-item NPA
  details-infos
    info-field Name
  details-notes
    note-list
      list-item This is a note
