div(v-class="selected: selected")
  a(href="{{$root.path('contacts:showDetails', id)}}" v-on="click: onClick($event)")
    span.name {{surname}} {{firstname}} {{address.housenumber}} {{address.street}} {{address.postalcode}} {{address.city}}
