<div id="content">

  <div id="toolbar">
    <!--
        <ul>
          <li><a href="#">télécharger liste communes</a></li>
          <li><a href="#">télécharger liste circos</a></li>
          <li><a href="#">télécharger liste contacts</a></li>
        </ul>
        -->
  </div>
  
  <div id="select-data">
    <h1>&Eacute;lections départementales 2015 - 2nd tour</h1><button><i class="fa fa-angle-down"></i></button>
    <ul>
      <li><a href="#" data-rel="dep_2015_t1">&Eacute;lections départementales 2015 - 1er tour</a></li>
      <li><a class="selected" href="#" data-rel="dep_2015">&Eacute;lections départementales 2015 - 2nd tour</a></li>
      <li><a href="#" data-rel="pres_2012_t1">&Eacute;lection Présidentielle 2012 - 1er tour</a></li>
      <li><a href="#" data-rel="pres_2012_t2">&Eacute;lection Présidentielle 2012 - 2nd tour</a></li>
      <li><a href="#" data-rel="couverture">Taux de couverture</a></li>
      <li><a href="#" data-rel="opinion">Bilan d'opinion</a></li>
      <li><a href="#" data-rel="insee">Données INSEE</a></li>
    </ul>
  </div>
  <!--
      <select id="election">
        <option value="dep_2015" selected>Elections départementales 2015</option>
        <option value="pres_2012_t1">Election Présidentielle 2012 - 1er tour</option>
        <option value="pres_2012_t2">Election Présidentielle 2012 - 2nd tour</option>
      </select>
      -->
  <div id="select-subview">
    <label class="hide circonscriptions"><input class="hide circonscriptions" id="radio_circo" type="radio" name="dep_view" value="circonsc" checked/>Circonscriptions</label>
    <!--<label class="hide circonscriptions" for="radio_circo">Circonscriptions</label>-->
    <label class="hide communes"><input class="hide communes" id="radio_com" type="radio" name="dep_view" value="communes_elections" />Communes</label>
    <label class="hide iris"><input class="hide iris" id="radio_iris" type="radio" name="dep_view" value="iris2000"/>Iris (nb de chomeurs)</label>
    <label class="hide pauvrete"><input class="hide pauvrete" id="radio_pauvrete" type="radio" name="dep_view" value="communes_pauvrete"/>Tx de pauvreté</label>
    <label class="hide chomage"><input class="hide chomage" id="radio_chomage" type="radio" name="dep_view" value="communes_chomage"/>Tx de chomage T4 2014</label>

  </div>
  
  <div id="map"></div>
  <div id="infos"></div>
</div>
