<div id="content">
    <!--
  <div id="toolbar">
        <ul>
          <li><a href="#">télécharger liste communes</a></li>
          <li><a href="#">télécharger liste circos</a></li>
          <li><a href="#">télécharger liste contacts</a></li>
        </ul>
  </div>
    -->
  
  <div id="select-data">
    <h1>&Eacute;lections départementales 2015 - 2nd tour</h1><button><i class="fa fa-angle-down"></i></button>
    <ul>
      <li><a href="#" data-rel="dep_2015_t1">&Eacute;lections départementales 2015 - 1er tour</a></li>
      <li><a class="selected" href="#" data-rel="dep_2015">&Eacute;lections départementales 2015 - 2nd tour</a></li>
      <li><a href="#" data-rel="pres_2012_t1">&Eacute;lection Présidentielle 2012 - 1er tour</a></li>
      <li><a href="#" data-rel="pres_2012_t2">&Eacute;lection Présidentielle 2012 - 2nd tour</a></li>
      <li><a href="#" data-rel="couverture">Taux de couverture</a></li>
      <li><a href="#" data-rel="opinion">Bilan d'opinion</a></li>
      <li><a href="#" data-rel="INSEE">Données INSEE</a></li>
    </ul>
  </div>
  
<div id="select-subview" class="hide">
    <input class="circonscriptions" id="radio_circo" type="radio" name="dep_view" value="circonscriptions_elections" checked/><label for="radio_circo" class="circonscriptions">Circonscriptions</label>
    <input class="communes" id="radio_com" type="radio" name="dep_view" value="communes_elections" /><label for="radio_com" class="communes">Communes</label>
    <input class="iris" id="radio_iris" type="radio" name="dep_view" value="iris2000"/><label for="radio_iris" class="iris">Tx de familles</label>
    <input class="pauvrete" id="radio_pauvrete" type="radio" name="dep_view" value="communes_pauvrete"/><label for="radio_pauvrete" class="pauvrete">Tx de pauvreté</label>
    <input class="chomage" id="radio_chomage" type="radio" name="dep_view" value="communes_chomage"/><label for="radio_chomage" class="chomage">Tx de chomage T4 2014</label>




  </div>
  <div id="map"></div>
  <div id="infos"></div>
</div>
