$controls-size: 70px;

@include exports("contacts") {
  contacts-module,
  contact-controls,
  contact-list,
  contact-item,
  contact-fiche {
    display: block;
  }

  span {
    overflow: hidden;
    text-overflow: ellipsis;
  }

  contact-new {
    width: 100;
    display: block;
    input {
      display: inline-block;
      vertical-align: middle;
      text-align: left;
      display: inline-block;
      margin-right: 3px;
    }
  }

  contact-controls,
  contact-list,
  contact-fiche {
    background-color: #fff;
  }

  .fade-transition {
    transition: all .3s ease;
    overflow: hidden;
  }

  .fade-enter, .fade-leave {
    height: 0;
    padding: 0 10px;
    opacity: 0;
  }

  contact-controls {
    height: $controls-size;

    header {
      float: left;
      @include clearfix;
      padding-right: 1em;

      span.icon {
        @include adjust-font-size-to(ms(2), 2);
        float: left;
        line-height: $controls-size;
        width: $controls-size;
        text-align: center;
      }

      h3 {
        @include adjust-font-size-to(ms(0.8), 1.6);
        text-transform: uppercase;
        font-weight: normal;
        margin-left: $controls-size;
        letter-spacing: -2px;
        color: #75A8C4;
      }

      span.description {
        display: block;
        text-align: right;
      }
    }

    section {
      float: right;

      a {
        display: inline-block;
        vertical-align: top;
        width: $controls-size;
        height: $controls-size;
        text-align: center;
        @include adjust-font-size-to(ms(1.2));
        line-height: $controls-size;
        color: lighten(#A3A3A3, 10%);
        @include transition(background-color, .2s);

        &:hover {
          background-color: #75A8C4;
          color: inherit;
        }
      }

      span.sep {
        display: inline-block;
        width: $controls-size / 2;
        height: $controls-size;
      }
    }
  }

  contact-list {
    padding: 1em;
    margin-top: 1em;
    background-color: #FAFBFB;

    header,
    contact-item {
      span {
        display: inline-block;
      }
      .phone {
        float: right;
        margin-right: 1em;
      }
      .status {
        width: 5%;
        text-align: center;
      }
      .name {width: 15%;}
      .info {width: 30%;}
      .exchange {width: 18%;}
      .contact,
      .fiche,
      .delete {
        text-align: center;
      }
      .contact {width: 8%;}
      .fiche {width: 6%;}
      .delete {width: 13%;}
    }

    header {
      @include adjust-font-size-to(ms(-0.2));
      color: #777;
    }

    contact-item {
      border: 1px solid #F4F5F5;
      margin: .5em 0;
      @include adjust-font-size-to(ms(-0.2), 1.8);
      background-color: #fff;
      @include transition(border, .2s);

      &:hover {border-color: #75A8A4;}
      &.selected {border-color: #75A8D4;}

      .circle {
        display: inline-block;
        transform: rotate(180deg);
      }

      .status {
        display: inline-block;
        vertical-align: top;
        height: 44px;
        text-align: center;

        svg {
          display: inline-block;
          height: 100%;
        }
      }

      img {
        width: 25px;
        height: 25px;
      }
    }
  }
  
  contact-fiche {
    background-color: #FFFFFF;

    header {
      height: $controls-size;
      @include adjust-font-size-to(ms(+0.5));
      color: #777;
      .pen {margin-right: 3%;}
      .back {
        margin-right: 1%;
        margin-left: 1%;
      }
    }

    contact-tag {
      @include adjust-font-size-to(ms(+0.5));
      display: block;
      background-color: #FAFAD2;
      margin: 0 1em 1em 4em;
    }

    contact-infos,
    contact-notes {
      width: 50%;
      display: inline-block;
      float: left;
      margin: 1% 0 0 0;
      @include adjust-font-size-to(ms(-0.2), 1.8);
      @include transition(border, .2s);

      .add {
        @include adjust-font-size-to(ms(+0.4), 1.8);
        padding: 0.3em 1em 0.3em 1em;
        background-color: #BBBBBB;
        color: white;
        border-radius: 0.5em;
        @include transition(background-color, .2s);
  
        &:hover {
          background-color: #999999;
        }

      }
      .notes,
      .pen {
        color: #7AAAC1;
      }
    }

    contact-infos {
      padding: 0 15% 0 4em;
      @include adjust-font-size-to(ms(+0.5));
      span {display: block;}
      span.info{color: #777;}
      category {display: block;}
      separator {
        width: 46%;
        display: inline-block;
        vertical-align: top;
      }
      separator.icon {
        width: 5%;
        margin-right: 3%;
      }
      category.user,
      category.home {
        margin-bottom: 5%;
      }
      cateory.phone,
      category.cellpone,
      category.mail {
        margin-bottom: 3%
      }
    }

    contact-notes {
      border: 1px solid #F1F1F1;
      background-color: #F5F5F5;
      padding: 0 3em 0 3em;
      height: 100%;

      header {
        height: $controls-size * 0.8;
        @include adjust-font-size-to(ms(+1.3));

        .search_container {
          float: right;
          display: block;
          width: 50%;

          .search {
          border: 0;
          background-color: #F5F5F5;
          @include adjust-font-size-to(ms(-1.3), 1.8);
          height: $controls-size * 0.5;
          width: 80%;
          border-bottom: 1px solid grey;
          font-style: italic;
          vertical-align: middle;
          box-sizing: border-box;
          }

          .search_icon {
            width: 20%;
            vertical-align: middle;
            &:hover {
              color: #555;
            }
          }
        }
      }
    }
  }
}
