$controls-size: 70px;

@include exports('contacts') {
  contacts-module,
  contact-controls,
  contact-list,
  contact-item {
    display: block;
  }

  span {
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
  }

  contact-new {
    display: block;
    height: auto;
    width: 100;

    input {
      display: inline-block;
      margin-right: 3px;
      text-align: left;
      vertical-align: middle;
    }
  }

  contact-controls,
  contact-list {
    background-color: #fff;
  }

  .fade-transition {
    overflow: hidden;
    transition: all .3s ease;
  }

  .fade-enter,
  .fade-leave {
    height: 0;
    opacity: 0;
    padding: 0 10px;
  }

  contact-controls {
    height: $controls-size;

    header {
      @include clearfix;
      float: left;
      padding-right: 1em;

      span.icon {
        @include adjust-font-size-to(ms(2), 2);
        float: left;
        line-height: $controls-size;
        text-align: center;
        width: $controls-size;
      }

      h3 {
        @include adjust-font-size-to(ms(.8), 1.6);
        color: #75a8c4;
        font-weight: normal;
        letter-spacing: -2px;
        margin-left: $controls-size;
        text-transform: uppercase;
      }

      .description {
        display: block;
        text-align: right;
      }
    }

    section {
      float: right;

      a {
        @include adjust-font-size-to(ms(1.2));
        @include transition(background-color, .2s);
        color: lighten(#a3a3a3, 10%);
        display: inline-block;
        height: $controls-size;
        line-height: $controls-size;
        text-align: center;
        vertical-align: top;
        width: $controls-size;

        &:hover {
          background-color: #75a8c4;
          color: inherit;
        }
      }

      .sep {
        display: inline-block;
        height: $controls-size;
        width: $controls-size / 2;
      }
    }
  }

  contact-list {
    @include box-sizing(border-box);
    background-color: #fafbfb;
    bottom: 1em;
    left: 1em;
    padding-right: 1em;
    position: absolute;
    right: 1em;
    top: 2*$base-font-size + $controls-size;

    & > section {
      bottom: 1em;
      left: 1em;
      overflow-y: auto;
      position: absolute;
      right: 1em;
      top: $base-line-height + $base-font-size;
    }

    header,
    contact-item {
      span {
        display: inline-block;
      }

      .phone {
        float: right;
        margin-right: 1em;
        width: 40%;
      }

      .status {
        text-align: center;
        width: 5%;
      }

      .email {
        width: 60%;
      }

      .name {
        white-space: nowrap;
        width: 15%;
      }

      .info {
        width: 30%;
      }

      .exchange {
        width: 18%;
      }

      .contact,
      .fiche,
      .delete {
        text-align: center;
      }

      .contact {
        width: 8%;
      }

      .fiche {
        width: 6%;
      }

      .delete {
        width: 13%;
      }
    }

    header {
      @include adjust-font-size-to(ms(-.2));
      color: #777;
    }

    contact-item {
      @include adjust-font-size-to(ms(-.2), 1.8);
      @include transition(border, .2s);
      background-color: #fff;
      border: 1px solid #f4f5f5;
      margin: .5em 0;

      &:hover {
        border-color: #75a8a4;
      }

      &.selected {
        border-color: #75a8d4;
      }

      .circle {
        display: inline-block;
        transform: rotate(180deg);
      }

      .status {
        display: inline-block;
        height: 44px;
        text-align: center;
        vertical-align: top;

        svg {
          display: inline-block;
          height: 100%;
        }
      }

      img {
        height: 25px;
        width: 25px;
      }
    }
  }
}
