$controls-size: 60px;

@include exports('contacts') {
  contacts-module,
  contact-controls,
  contact-list,
  contact-item {
    display: block;
  }

  span {
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
  }

  contact-controls,
  contact-list {
    background-color: #fafbfb;
    border: 1px solid #ddd;
  }

  contact-controls {
    @include clearfix;
    padding: 0 1em;
    border-bottom: none;

    section {
      h3 {
        @include adjust-font-size-to(ms(0.5), 1.5);
        display: inline-block;
        vertical-align: top;
      }

      span.count {
        margin: 0 1em;
        @include adjust-font-size-to(ms(0), 1.5);
      }

      a {
        @include adjust-font-size-to(ms(0), 1.5);
        margin-left: .5em;
      }
    }
  }

  contact-list {
    @include box-sizing(border-box);
    padding: .5em 1em;

    header,
    contact-item {
      span {
        display: inline-block;
      }

      .phone {
        float: right;
        margin-right: 1em;
        width: 40%;
      }

      .email {
        width: 60%;
      }

      .check {
        padding-left: 1em;
        width: 5%;
      }

      .name {
        white-space: nowrap;
        width: 18%;
      }

      .info {
        width: 48%;
      }

      .contact,
      .fiche,
      .delete {
        text-align: center;
      }

      .contact {
        width: 10%;
      }

      .fiche {
        width: 6%;
      }

      .delete {
        width: 13%;
      }
    }

    header {
      span:not(.check) {
        @include adjust-font-size-to(ms(-.5));
        font-weight: bold;
        text-transform: uppercase;
      }
    }

    contact-item {
      @include adjust-font-size-to(ms(-.2), 1.8);
      @include transition(border, .2s);
      background-color: #fff;
      border: 1px solid darken(#f4f5f5, 3%);
      margin: .5em 0;

      &:hover {
        border-color: #75a8a4;
      }
    }
  }
}
