$relative-header-height: 2.5;
$header-height: $relative-header-height * $base-line-height;

@include exports('header') {
  app-header {
    @include clearfix;
    @include position(fixed, 0 0 auto);
    display: block;
    background-color: #2980b9;
    color: #fff;
    height: $header-height;
    z-index: 1;

    section > a {
      @include adjust-font-size-to(ms(1), $relative-header-height);
      color: inherit;
    }

    section.left > a {
      margin-right: 1em;
    }

    section.right > a {
      margin-left: 1em;
    }

    div {
      @include position(absolute, 0);
      padding: 0 1em;
    }

    h2 {
      @include adjust-font-size-to(ms(1), $relative-header-height);
      display: inline;
      margin-left: 1em;
    }
  }
  .dropdown {
    display: none;
    position: absolute;
    color: #222;
    background-color: white;
    top: .5em;
    right: .5em;
    @include box-shadow(1px 1px 5px 0px #656565);
    @include border-radius(3px);
    overflow: hidden;
    z-index: 3;

    &.visible {
      display: block;
    }

    li {
      a {
        display: block;
        padding: 0 1em;
        @include adjust-font-size-to(ms(-1), 1.7);
        width: 100%;
        height: 100%;
        color: inherit;
      }

      &:hover {
        background-color: darken(#fff, 10%);
        color: inherit;
      }
    }
  }
}
