$relative-header-height: 2.5;
$header-height: $relative-header-height * $base-line-height;

@include exports('header') {
  app-header {
    @include clearfix;
    @include position(fixed, 0 0 auto);
    display: block;
    background-color: #2980b9;
    color: #fff;
    height: $header-height;
    z-index: 18;

    section > a {
      @include adjust-font-size-to(ms(1), $relative-header-height);
      color: inherit;
    }

    section.right {
      position: absolute;
      right: 0;
    }

    section.left > a {
      margin-right: 1em;
    }

    section.right > a {
      margin-left: 1em;
    }

    div {
      @include position(absolute, 0);
      padding: 0 1em;
      white-space: nowrap;
    }

    span.title {
      max-width: 50%;
      display: inline-block;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      float: left;
    }

    h2 {
      @include adjust-font-size-to(ms(1), $relative-header-height);
      display: inline;
      margin-left: 1em;
      &.title {
        margin: 0 auto 0 auto;
      }
    }
  }
  .dropdown {
    display: none;
    position: absolute;
    color: #222;
    background-color: white;
    top: .5em;
    right: .5em;
    @include box-shadow(1px 1px 5px 0px #656565);
    @include border-radius(3px);
    overflow: hidden;
    z-index: 19;

    &.visible {
      display: block;
    }

    li {
      a {
        display: block;
        padding: 0 1em;
        @include adjust-font-size-to(ms(-1), 1.7);
        width: 100%;
        height: 100%;
        color: inherit;
      }

      &:hover {
        background-color: darken(#fff, 10%);
        color: inherit;
      }
    }
  }

  input[type=search] {
    display: inline-block;
    width: 15px;
    color: transparent;
    cursor: pointer;
    background: url(../images/search.svg) no-repeat 9px center;
    background-size: 18px 19px;
    border: none;
    padding: 9px 10px;
    font-family: inherit;
    font-size: 100%;
    outline: none;

    -webkit-transition: background-image 0.5s ease-in-out;
    transition: background-image 0.5s ease-in-out;

    -webkit-box-sizing: content-box;

    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }

  input[type=search]:valid,
  input[type=search]:focus {
    width: 250px;
    border: solid 1px #000;
    padding-left: 32px;
    color: #fff;
    cursor: auto;
    background-color: #549AC7;

    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  }

  input:-moz-placeholder {
    color: transparent;
  }

  input::-webkit-input-placeholder {
    color: transparent;
  }

  input::-webkit-search-decoration,
  input::-webkit-search-cancel-button {
    display: none;
  }
}
