@import 'header';

@include exports('main') {
  app-main {
    overflow: auto;
    display: block;
    position: absolute;
    height: auto;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    margin-top: $header-height;

    .fixed {
      position: fixed;
    }
  }

  .overlay {
    z-index: 17;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform: scale(0);
    visibility: hidden;
    pointer-events: none;

    &.visible {
      transform: none;
      visibility: visible;
      pointer-events: all;
    }

    div {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      background-color: rgba(1, 1, 1, .7);
      opacity: 0;
      @include single-transition(opacity, .2s);
    }

    div.darken {
      opacity: 1;
    }
  }
}
