$nav-width: 200px;

@include exports('nav') {
  app-nav {
    display: block;
    @include position(fixed, 0 auto 0 0);
    left: -$nav-width;
    z-index: 2;
    width: $nav-width;

    div {
      position: absolute;
    }
  }
}
