contact-notes-container
  header
    span.pen
      i.fa.fa-pencil-square-o
    span.notes Notes
    div.search_container
      input(type="text" placeholder="Rechercher" class="search")
      span.search_icon
        i.fa.fa-search
  a(href="#")
    i.add + Ajouter
  contact-notes

