contact-notes-container
  header
    span.pen
      i.fa.fa-pencil-square-o
    span.notes Notes
    div.search_container
      input(type="text" placeholder="Rechercher" class="search")
      span.search_icon
        i.fa.fa-search
  a(href="#" v-on="click: addNote(this)" v-if="!addMode")
    i.add + Ajouter
  div.notes(id="note_container" v-if="!addMode")
    contact-notes(v-repeat="notes")
  div.notes(id="note_container" v-if="addMode")
    contact-create-note

