contact-notes
  header
    span.pen
      i.fa.fa-pencil-square-o
    span.notes Notes
    div.search_container
      input(type="text", placeholder="Rechercher" class="search")
      span.search_icon
        i.fa.fa-search
  a(href="#")
    i.add + Ajouter
  p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed orci nulla, porttitor eu maximus quis, convallis sit amet erat. Praesent non fermentum libero. Pellentesque eget erat semper, ultricies lectus tincidunt, rutrum arcu. Duis sagittis, est dignissim pulvinar tincidunt, arcu nulla interdum nunc, nec mattis eros augue nec felis. Mauris ut laoreet ante, in consectetur nunc. Morbi consectetur eu sapien eu scelerisque. Suspendisse rhoncus feugiat egestas. Duis at ligula augue. Pellentesque tempor massa orci, ac commodo elit ornare a. Ut eu tellus tortor. Praesent eu dui eros. Integer.


