@include exports("details-infos") {
  info-field {
    width : 95%;
    margin: auto;
    display: block;
    text-transform: capitalize;

    input:focus {
      background-color: lighten(#2980B9, 54%);
    }
  }
  
  button {
    margin: 0 0 2.5% 2.5%;
  }
}