@include exports("notes-body") {
  notes-body {
    width: 95%;
    display: block;
    margin: auto;

    notes-item {
      display: block;

      div.content {
        width: 100%;
        word-wrap: break-word;
        @include border-radius(0.2em);
        margin-bottom: 1em;
        padding: 0 0.5em 0 0.5em;
        -moz-box-shadow: 0 0 2px 1px lighten(#000, 85%);
        -webkit-box-shadow: 0 0 2px 1px lighten(#000, 85%);
        -o-box-shadow: 0 0 2px 1px lighten(#000, 85%);
        box-shadow: 0 0 2px 1px lighten(#000, 85%);
        background-color: lighten(#000, 98%);

        span.author {
          font-weight: bold;
        }

        span.date {
          color: grey;
        }
      }

      .actions {
        display: inline-block;
        float: right;
        color: darken(red, 10%);
      }
    }
  }
}