@include exports("notes-body") {
  details-notes {
    display: block;
    margin: 1% auto auto auto;
    width: 95%;

    button {
      margin-right: 1%;
    }

    notes-body {
      notes-item {
        display: block;
        position: relative;

        div.edit,
        div.content {
          width: 100%;
          word-wrap: break-word;
          @include border-radius(0.2em);
          margin-bottom: 1em;
          padding: 0 0.5em 0 0.5em;
          -moz-box-shadow: 0 0 2px 1px lighten(#000, 85%);
          -webkit-box-shadow: 0 0 2px 1px lighten(#000, 85%);
          -o-box-shadow: 0 0 2px 1px lighten(#000, 85%);
          box-shadow: 0 0 2px 1px lighten(#000, 85%);
          background-color: lighten(#000, 98%);

          span.author {
            font-weight: bold;
          }

          span.date {
            color: grey;
          }
        }

        div.edit {
          position: relative;
          top: 0;
          bottom: 0;
          display: block;
        }

        textarea {
          background-color: lighten(#2980B9, 54%);
          height: 300px;
        }


        .link {
          position: absolute; 
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
        }

        &:hover {
          div.content {
            -moz-box-shadow: 0 0 2px 1px lighten(#000, 70%);
            -webkit-box-shadow: 0 0 2px 1px lighten(#000, 70%);
            -o-box-shadow: 0 0 2px 1px lighten(#000, 70%);
            box-shadow: 0 0 2px 1px lighten(#000, 70%);
            background-color: lighten(#000, 95%);
          }
        }
      }
    }
  }
}