@import '../header';
$tab-width: 100% / 3;

@include exports("tab-menu") {
  tab-menu {
    width: 100%;
    height: $header-height;
    display: block;

    a {
      line-height: $header-height / 1.5;
      width: $tab-width;
      display: inline-block;
      float: left;
      text-align: center;
      color: darken(#fff, 60%);
      font-weight: bold;
      &:hover {
        color: darken(#fff, 60%);
      }
    }
    
    .selected {
      color: black;

      -moz-box-shadow: 0 4px 2px -2px lighten(#2980B9, 20%);
      -webkit-box-shadow: 0 4px 2px -2px lighten(#2980B9, 20%);
      -o-box-shadow: 0 4px 2px -2px lighten(#2980B9, 20%);
      box-shadow: 0 4px 2px -2px lighten(#2980B9, 20%);
      &:hover {
        color: black;
      }
    }
  }
}
