@import '../header';
$tab-width: 100% / 3;

@include exports("tab-menu") {
  tab-menu {
    width: 100%;
    height: $header-height / 2 + 10px;
    margin-bottom: $header-height / 2 - 10px;
    display: block;
    border-bottom: 3px solid #2980B9;

    a {
      line-height: $header-height / 1.5;
      width: $tab-width;
      display: inline-block;
      float: left;
      text-align: center;
      color: darken(#fff, 60%);
      font-weight: bold;
      &:hover {
        color: #2980B9;
      }
    }

    .selected {
      color: #2980B9;

/*      -moz-box-shadow: 0 4px 2px -2px lighten(#2980B9, 20%);
      -webkit-box-shadow: 0 4px 2px -2px lighten(#2980B9, 20%);
      -o-box-shadow: 0 4px 2px -2px lighten(#2980B9, 20%);
      box-shadow: 0 4px 2px -2px lighten(#2980B9, 20%);*/
      background: url("../images/active_menu.png") center bottom no-repeat;
      &:hover {
        color: #2980B9;
      }
    }
  }

  .hidden {
    display: none;
  }
}
