@import '../header';
@include exports("tags-body") {
  tags-body {
    width: 92.5%;
    display: block;
    margin: 1% auto auto 5%;

    a.back {
      position: absolute;
      left: 0;
      top: 0;
      text-align: center;
      color: darken(#fff, 60%);
      line-height: $header-height / 1.5;
      width: 5%;
    }

    tags-item {
      display: inline-block;
      margin: 1em 1% 0 0;
      @include border-radius(0.5em);
      padding-left: 1%;
      text-transform: capitalize;

      span {
        white-space: nowrap;
        color: #fff;
      }

      .actions {
        color: #fff;
      }
    }
  }
}