@include exports("tags-body") {
  tags-body {
    width: 95%;
    display: block;
    margin: auto;

    tags-item {
      display: inline-block;
      margin: 1em 1% 0 0;
      @include border-radius(0.5em);
      padding-left: 1%;
      text-transform: capitalize;

      span {
        white-space: nowrap;
        color: #fff;
      }

      .actions {
        color: #fff;
      }
    }
  }
}