div
  section.left
    a.toggle-nav(href="#" v-on="click: navOnClickIn($event)")
      i.fa.fa-fw.fa-bars
        
  span.title
    h2 Quorum : 
    h2.title {{title}}

  section.right
    input.search(type="search" placeholder="Search" v-on="keyup: search($event)" v-model="query" v-if="display_search" required="")
    a(href="{{addUrl}}" v-on="click: addOnClick($event)" v-if="add")
      i.fa.fa-fw.fa-plus    
    a(href="#" v-on="click: dropdownOnClick($event)")
      i.fa.fa-fw.fa-ellipsis-v
    ul.dropdown(v-class="visible: dropdown")
      li
        a(href="#" v-on="click: search_in_name($event)") Search in Name
      li
        a(href="#" v-on="click: search_in_firstname($event)") Search in Firstname
      li
        a(href="#" v-on="click: search_in_fullname($event)") Search in Fullname
      li
        a(href="#" v-on="click: search_in_address($event)") Search in Address
      li
        a(href="#" v-on="click: search_geoloc($event)") Search by geoloc
      li
        a(href="#" v-on="click: search($event)") Search in All
  app-overlay
