div
  section.left
    a.toggle-nav(href="#" v-on="click: navOnClickIn($event)")
      i.fa.fa-fw.fa-bars
        
  span.title
    h2 Quorum : 
    h2.title {{title}}

  section.right
    a(href="{{addUrl}}" v-on="click: addOnClick($event)" v-if="add")
      i.fa.fa-fw.fa-plus    
    //- a(href="#" v-on="click: $event.preventDefault()")
    //-   i.fa.fa-fw.fa-search
    a(href="#" v-on="click: dropdownOnClick($event)")
      i.fa.fa-fw.fa-ellipsis-v
    ul.dropdown(v-class="visible: dropdown")
      li
        a(href="#" v-on="click: $event.preventDefault()") Sort by
      li
        a(href="#" v-on="click: $event.preventDefault()") Settings
  app-overlay
