contact-list
  header
    span.check
      input(type="checkbox")
    span.name Nom
    span.info Coordonnées
    span.fiche Fiche
    span.delete Supprimer
  section
    contact-item(v-repeat="contacts")
