contact-list
    header
        span.status
            i.fa.fa-chevron-down
        span.name Nom
        span.info Coordonnées
        span.exchange Dernier échange
        span.contact Contacter
        span.fiche Fiche
        span.delete Supprimer
    section
        contact-item(v-repeat="contacts")
