div.wrap
  div.logo
    img(src="images/quorum.png")
  form
    input(v-model="user.username" type="text" placeholder="username")
    input(v-model="user.password" type="password" placeholder="password")
    input(type="submit" value="Log in" v-on="click: logIn($event)")
