app-login
  div.wrap
    div.logo
      img(src="images/quorum.png")
    form
      input(type="text" placeholder="username")
      input(type="password" placeholder="password")
      input(type="submit" value="Log in")
