@include exports('contacts-module') {
  contacts-module,
  contact-new,
  contact-details,
  contact-list,
  list-controls,
  list-head,
  list-body,
  list-item {
    display: block;
  }

  contact-new,
  contact-details,
  contact-list {
    @include box-sizing(border-box);
    background-color: #fafbfb;
    border: 1px solid #ddd;
  }
}
