$susy: (
  columns: 20,
  gutters: .25,
  gutter-position: split
);

@include exports('contacts-list') {
  contact-list {
    .phone,
    .email,
    .select,
    .name,
    .info,
    .delete,
    .details {
      display: inline-block;
      vertical-align: top;
    }

    .phone {
      float: right;
      margin-right: 1em;
    }

    .select {
      text-align: center;
    }

    .name {
      white-space: nowrap;
    }

    .details,
    .delete {
      text-align: center;
    }

    list-controls {
      @include clearfix;
      padding: 0 1em;
      border-bottom: 1px solid #ddd;;

      h3 {
        @include adjust-font-size-to(ms(0.5), 1.5);
        display: inline-block;
        vertical-align: top;
      }

      span.sep {
        margin: 0 .5em;
      }

      span.count {
        @include adjust-font-size-to(ms(0), 1.5);
      }

      a {
        @include adjust-font-size-to(ms(0.5), 1.5);
        margin-left: .8em;
      }

      a.delete:hover {
        color: #e74c3c;
      }
    }

    list-head {
      @include container;
      margin: .5em 0 .5em 1px; // to align with the border below
      padding: 0 1em;

      .phone,
      .email,
      .name,
      .info,
      .delete,
      .details {
        @include adjust-font-size-to(ms(-.5));
        font-weight: bold;
        text-transform: uppercase;
      }
    }

    list-body {
      @include container;
      margin: .5em 0 1em;
      padding: 0 1em;
    }

    list-item {
      @include clearfix;
      @include adjust-font-size-to(ms(-.2), 1.8);
      background-color: #fff;
      border: 1px solid darken(#f4f5f5, 3%);
      margin: .5em 0;

      .delete a:hover {
        color: #e74c3c;
      }
    }

    .info     { @include span(11) }
    .phone    { @include span(1) }
    .email    { @include span(1) }

    .select   { @include span(1) }
    .name     { @include span(4) }
    .details  { @include span(2) }
    .delete   { @include span(2) }

    @include respond-to(tablet) {
      .info     { @include span(9) }
      .phone    { @include span(1) }
      .email    { @include span(1) }

      .select   { @include span(2) }
      .name     { @include span(7) }
      .details  { @include span(1) }
      .delete   { display: none }
    }

    @include respond-to(mobile) {
      .info     { display: none }
      .phone    { @include span(1) }
      .email    { @include span(1) }

      .select   { display: none; }
      .name     { @include span(15) }
      .details  { @include span(1) }
      .delete   { display: none }

    list-head {
      display: none;
    }

    list-item {
      @include clearfix;
      @include adjust-font-size-to(ms(-.2), 1.8);
      background-color: #fff;
      border: none;
      margin: 0;

      .delete a:hover {
        color: #e74c3c;
      }
    }
    }
  }
}
