contacts-module
  contact-controls
    section.left
      h3 Contacts
      span.count 20 contacts
    section.right
      a(href="#")
        i(class="fa fa-plus" v-on="click: navigate('/contacts/create', $event)")
      a(href="#")
        i(class="fa fa-trash")
  component(is="{{view}}")
  contact-slider
