contacts-module
  contact-controls
    header
      span.icon
        i.fa.fa-user
      h3 Vos contacts
      span.description 41 contacts
    section
      each val in ['plus', 'trash', 'share-square-o', 'check']
        a(href="#")
          i(class="fa fa-#{val}")
      span.sep
      each val in ['comments', 'tag', 'map-marker']
        a(href="#")
          i(class="fa fa-#{val}")
      span.sep
      a(href="#")
        i.fa.fa-search
  contact-new
    input(v-model="new_contact.firstname", type="text", placeholder="firstname")
    input(v-model="new_contact.surname", type="text", placeholder="surname")
    input(v-model="new_contact.phone", type="text", placeholder="phone")
    button(v-on="click: createContact(new_contact)") Create
  contact-list
  contact-slider
