<contacts-module>
    <contact-controls>
        <header>
            <span class="icon">
                <i class="fa fa-user"></i>
            </span>
            <h3>Vos contacts</h3>
            <span class="description">41 contacts</span>
        </header>
        <section>
            <a href="#"><i class="fa fa-user"></i></a>
            <a href="#"><i class="fa fa-trash"></i></a>
            <a href="#"><i class="fa fa-share-square-o"></i></a>
            <a href="#"><i class="fa fa-check"></i></a>
            <span class="sep"></span>
            <a href="#"><i class="fa fa-comments"></i></a>
            <a href="#"><i class="fa fa-tag"></i></a>
            <a href="#"><i class="fa fa-map-marker"></i></a>
            <span class="sep"></span>
            <a href="#"><i class="fa fa-search"></i></a>
        </section>
    </contact-controls>
    <contact-list></contact-list>
    <contact-slider></contact-slider>
</contacts-module>
