contact-item(v-on="click: onClick", v-class="selected: selected")
  span.fiche(v-on="click: showFiche(this.$parent.$parent)")
    a(href="#")
      i.fa.fa-bars
  span.delete(v-on="click: deleteContact(this)")
    a(href="#")
      i.fa.fa-times
