contact-infos
  category.user
    separator.icon
      i.fa.fa-user
    separator
      span Nom
      span Prénom
      span né(e) le
    separator
      span.info {{surname}}
      span.info {{firstname}}
      span.info {{birthdate}}
  category.home
    separator.icon
      i.fa.fa-home
    separator
      span Adresse
      span Departement
    separator
      span.info {{adress}}
      span.info {{department}}
  category.phone
    separator.icon
      i.fa.fa-phone
    separator
      span Téléphone
    separator
      span.info {{phone}}
  category.cellphone
    separator.icon
      i.fa.fa-mobile
    separator
      span Mobile
    separator
      span.info {{cellphone}}
  category.mail
    separator.icon
      i.fa.fa-envelope
    separator
      span Mail
    separator
      span.info {{mail}}
  category.network
    separator.icon 
      i.fa.fa-facebook-square
    separator
      span Réseaux sociaux

