contact-infos
  category.user
    separator.icon
      i.fa.fa-user
    separator
      span Nom
      span Prénom
      span né(e) le
    separator
      span.info {{surname}}
      span.info {{firstname}}
      span.info {{birthdate}} xxx
    separator.icon
      span.icon Icon
  category.home
    separator.icon
      i.fa.fa-home
    separator
      span Adresse
      span Departement
    separator
      span.info {{adress}} xxx
      span.info {{department}} xxx
    separator.icon
      span.icon Icon
  category.phone
    separator.icon
      i.fa.fa-phone
    separator
      span Téléphone
    separator
      span.info {{phone}} xxx
    separator.icon
      span.icon Icon
  category.cellphone
    separator.icon
      i.fa.fa-mobile
    separator
      span Mobile
    separator
      span.info {{cellphone}} xxx
    separator.icon
      span.icon Icon
  category.mail
    separator.icon
      i.fa.fa-envelope
    separator
      span Mail
    separator
      span.info {{mail}} xxx
    separator.icon
      span.icon Icon
  category.network
    separator.icon 
      i.fa.fa-facebook-square
    separator.network
      span Réseaux sociaux
    separator.icon
      span.icon Icon

