@import 'susy';
@import 'app/helpers/functions';
@import 'app/helpers/mixins';

// Media Query Ranges
$small-range: (0, 40em) !default;
$medium-range: (40.063em, 64em) !default;
$large-range: (64.063em, 90em) !default;
$xlarge-range: (90.063em, 120em) !default;
$xxlarge-range: (120.063em, 99999999em) !default;

// Responsive design helper
@mixin respond-to($media) {
  @if $media == mobile {
    @media only screen and (max-width: upper-bound($small-range)) {
      @content
    }
  } @else if $media == tablet {
    @media only screen and (min-width: lower-bound($medium-range)) and (max-width: upper-bound($medium-range)) {
      @content
    }
  } @else if $media == computer {
    @media only screen and (min-width: lower-bound($large-range)) {
      @content
    }
  } @else if $media == large {
    @media only screen and (min-width: lower-bound($xlarge-range)) {
      @content
    }
  } @else if $media == widescreen {
    @media only screen and (min-width: lower-bound($xxlarge-range)) {
      @content
    }
  } @else {
    @media only screen and (max-width: $media) {
      @content
    }
  }
}

// Layout
$header-height: 60px;
$nav-width: 200px;

@include exports('grid') {
  body {
    overflow: hidden;
  }

  app-module {
    display: block;
    height: 100%;
    overflow: hidden;
    position: relative;
    width: 100%;
  }
}
