@import 'app/layout/grid';

@include exports('header') {
  app-status {
    display: block;
    height: $header-height;
    left: $nav-width;
    line-height: $header-height;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;

    img {
      height: 50px;
      width: 50px;
    }

    a {
      display: inline-block;
      margin: 0 1em;
      position: relative;

      .name {
        margin-right: 1em;
      }

      img {
        margin-left: 1em;
      }

      .label {
        @include adjust-font-size-to(11px);
        background-color: #75A8C4;
        border-radius: 50%;
        color: #fff;
        font-weight: bold;
        height: 15px;
        line-height: 15px;
        overflow: hidden;
        position: absolute;
        right: -6px;
        text-align: center;
        top: 17px;
        width: 15px;
      }
    }
  }
}
