@import 'app/layout/grid';

@include exports('header') {
  app-status {
    @include transition(left, .2s);
    @include clearfix();
    background-color: #fff;
    display: block;
    height: $header-height;
    left: $nav-width;
    line-height: $header-height;
    padding: 0 1em;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;

    a {
      @include adjust-font-size-to(ms(0.6), $header-height / $base-line-height);
    }

    .right a {
      margin-left: 1em;
    }

    a.user {
      @include adjust-font-size-to(ms(0));
    }
  }
}
