@import 'app/layout/grid';

@include exports('main') {
  app-main {
    @include transition(left, .2s);
    background-color: #e5e9ec;
    bottom: 0;
    left: $nav-width;
    padding: 1em;
    position: absolute;
    right: 0;
    top: $header-height;
    overflow-y: auto;
  }
}
