@import 'app/layout/grid';

@include exports('nav') {
  .nav-collapse app-status,
  .nav-collapse app-main {
    left: 0;
  }

  app-nav {
    background-color: #23282d;
    bottom: 0;
    color: #8b91a0;
    left: 0;
    position: absolute;
    top: 0;
    width: $nav-width;

    img {
      background-color: #444;
      height: $header-height;
      width: $nav-width;
    }

    h1 {
      @include adjust-font-size-to(ms(1.5), $header-height / 24px);
      margin: 0;
      padding: 0 1em;
      color: #fff;
      background-color: #32373c;
      height: $header-height;
      width: $nav-width;

      a {
        display: block;
      }
    }

    nav-list {
      display: block;
      margin: 0;

      nav-item {
        display: block;
        padding: 0 1em;

        a {
          @include adjust-font-size-to(ms(0), 2);
        }
      }
    }
  }
}
