@import 'app/layout/grid';

@include exports("nav") {
    app-nav {
        position: absolute;
        width: $nav-width;
        top: 0;
        bottom: 0;
        left: 0;

        background-color: #666;
        color: #fff;

        img {
            width: $nav-width;
            height: $header-height;
            background-color: #444;
        }

        ul {
            list-style-type: none;
            padding: 2em 0 0;
            margin: 0;

            li {
                padding: 0 1.5em;

                &.selected {
                    $border: 3px;
                    border-left: $border solid #75A8C4;
                    color: #75A8C4;
                    a {
                        margin-left: -$border;
                    }
                }

                a {
                    @include adjust-font-size-to(ms(0), 2);
                }
            }
        }
    }
}
