@import 'app/layout/grid';

@include exports('nav') {
  app-nav {
    background-color: #23282d;
    bottom: 0;
    color: #8b91a0;
    left: 0;
    position: fixed;
    z-index: -1;
    top: 0;
    width: $nav-width;

    h1 {
      @include adjust-font-size-to(ms(1.5), $header-height / $base-line-height);
      margin: 0;
      padding: 0 1em;
      color: #fff;
      background-color: #32373c;
      height: $header-height;
      width: $nav-width;

      a {
        display: block;
      }

      @include respond-to(mobile) {
        display: none;
      }
    }

    nav-list {
      display: block;
      margin: 0;

      nav-item {
        display: block;
        padding: 0 1em;

        a {
          @include adjust-font-size-to(ms(0), 2);
        }
      }
    }
  }

  @include respond-to(mobile) {
    app-status {
      left: 0;
    }

    main {
      margin-left: 0;
      width: 100%;
    }

    .nav-collapse app-status {
      left: $nav-width;
    }

    .nav-collapse main {
      margin-left: $nav-width;
      opacity: .8;
    }
  }
}
