app-nav(v-class="visible: show_nav")
  div
    a.left(href="#" v-on="click: close($event)")
      i.fa.fa-fw.fa-arrow-left
    h1
      a(href="#") Quorum
    nav-list
      nav-item
        a(href="{{$root.path('ciblage:show')}}" v-on="click: this.$dispatch('overlay:onclick'); $root.navigate('ciblage:show', $event)") Ciblage
          span
            i.fa.fa-fw.fa-map-marker
      nav-item
        a(href="{{$root.path('contacts:list')}}" v-on="click: this.$dispatch('overlay:onclick'); $root.navigate('contacts:list', $event)") Contacts
          span
            i.fa.fa-fw.fa-user
      nav-item
        a(href="{{$root.path('territories:list')}}" v-on="click: this.$dispatch('overlay:onclick'); $root.navigate('territories:list', $event)") Territories
          span
            i.fa.fa-fw.fa-user
      nav-item
        a(href="{{$root.path('contacts:list')}}" v-on="click: this.$dispatch('overlay:onclick'); $root.navigate('contacts:list', $event)") Settings
          span
            i.fa.fa-fw.fa-cogs
      nav-item
        a(href="{{$root.path('contacts:list')}}" v-on="click: this.$dispatch('overlay:onclick'); $root.navigate('contacts:list', $event)") About
          span
            i.fa.fa-fw.fa-ellipsis-h
      nav-item
        a(href="{{$root.path('app:logout')}}" v-on="click: this.$dispatch('overlay:onclick'); $root.navigate('app:logout', $event)") Logout
          span
            i.fa.fa-fw.fa-times
