app-module(v-class="nav-collapse: !show_nav")
  app-nav
    div
      h1
        a(href="#") Quorum
      nav-list
        nav-item
          a(href="{{path('contacts:list')}}" v-on="click: navigate('contacts:list', $event)") Contact Management

  app-header(v-ref="header")

  app-main
    contacts-module(v-ref="contacts")
