app-nav
  h1
    a(href="#") Quorum
  nav-list
    each val in ["Gestion de contact"]
      nav-item
        a(href="#")= val

app-status
  section.left
    a(href="#")
      i.fa.fa-bars
  section.right
    a(href="#").user
      span.name Jean-Pierre
      i.fa.fa-chevron-down

app-main
  contacts-module(v-ref="contacts")
