contacts-new
  details-infos
    a.back(href="{{url}}" v-on="click: back($event)")
      i.fa.fa-fw.fa-arrow-left
    form
      each val in ["firstname", "surname", "mail", "phone", "adress"]
        info-field #{val} :
          input(id="#{val]" v-model="contact.#{val}" type="text" placeholder="#{val}")
      button(v-on="click: submit(contact, $event)") Ok
      button.second(v-on="click: back($event)") Return