@import 'app/layout/grid';

@include exports('header') {
  app-header {
    @include clearfix();
    background-color: #fff;
    display: block;
    height: $header-height;
    width: 100%;
    left: $nav-width;
    line-height: $header-height;
    padding: 0 1em;
    position: fixed;
    right: 0;
    text-align: center;
    top: 0;

    section a {
      @include adjust-font-size-to(ms(0.6), $header-height / $base-line-height);
    }

    .right a {
      margin-left: 1em;
    }

    a.user {
      @include adjust-font-size-to(ms(0));
    }

    a.toggle-nav {
      display: none;
    }

    h1 {
      @include adjust-font-size-to(ms(1.5), $header-height / $base-line-height);
      visibility: hidden;
      display: inline-block;
      vertical-align: top;
    }

    @include respond-to(mobile) {
      color: #fff;
      background-color: #32373c;

      h1 {
        visibility: visible;
      }

      a.toggle-nav {
        display: inline;
      }
    }
  }
}
