@import 'app/layout/grid';

@include exports('main') {
  main {
    background-color: #e5e9ec;
    margin-left: $nav-width;
    padding: $header-height 0 1em;
    min-height: 100%;

    @include respond-to(mobile) {
      margin: 0;
      padding-bottom: 0;
    }
  }

  app-main {
    display: block;
    margin: 1em 1em 0;

    @include respond-to(mobile) {
      margin: 0;
    }
  }
}
