contact-notes(class="notes" v-class="expanded: expanded")
  span.author {{author}} 
  span.text a créé une note le 
  i {{date}} 
  span.text à 
  i {{hour}}
  div.arrow
  div.content(v-transition="fade")
    div.fade
      a(href="#" v-on="click: expandNote(this)")
        span.expand(v-if="!expanded") Details 
        span.fa.fa-angle-down(v-if="!expanded")
        span.expand(v-if="expanded") Fermer
        span.fa.fa-angle-up(v-if="expanded")
    p {{content}}


