contact-fiche
  header
    a(href="#" v-on="click: showFiche(null)")
      img(src="images/back.png", alt="Retour")
      span.back
        i.fa.fa-chevron-left
    span Retour à la liste de contacts
  contact-tag
  contact-infos
  contact-notes-container
