contact-fiche
  header
    a(href="#" v-on="click: showFiche(null)")
      img(src="images/back.png", alt="Retour")
      span.back
        i.fa.fa-chevron-left
    span Retour à la liste de contacts
  contact-profil(v-if="!displaying_exchanges" v-transition="fade")
    contact-tag
    contact-infos(v-if="!editMode")
    contact-edit(v-if="editMode")
    contact-notes-container
  contact-exchange(v-if="displaying_exchanges" v-transition="fade")
